.header {
  display: grid;
  grid-template-columns: 50px 120px 1fr;
  grid-template-rows: 40px;
  background-color: #216ddf;
  color: #fff;
  align-items: center;
  align-content: center;
  text-align: center;
}
.header h1 {
  font-weight: 400;
}

.nav-bar-icons {
  justify-self: right;
  padding: 0.6em;
}
